h1 {

    margin-bottom: 1.5rem;
}

.logoName {
    float: right;
    margin: 0.5em;
}

.backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    align-items: center;
    height: auto;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
}

.backToTopBtn:hover {
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@media (max-width: 767px) {
    .logoName {
        display: none;
    }
}

@media (min-width: 992px) {
    .menuCustom {
        position: sticky;
        top: 0;
        background-color: white;
    }
}

